<app-monster-header
  (eventEmitter)="setMonstersFromChild($event)"
  [biomes]="biomes" [books]="books" [monsterTypes]="monsterTypes">
</app-monster-header>
<mat-card class="card-gray">
  <table class="table">
    <tr>
      <th style="text-align: center;width: 5%;">
        <button mat-raised-button
          style="background-color: green;color: white" (click)="openDialogToCreateMonster()">
          Cadastrar Criatura
        </button>
      </th>
      <th>Nome da Criatura</th>
      <th>Nível da Criatura</th>
      <th>Existe</th>
      <th>Tipo da Criatura</th>
      <th>Podem ser Encontrada</th>
      <th>Livro</th>
      <th>Página</th>
    </tr>
    <tr *ngFor="let monster of monsters">
      <td>
        <button mat-raised-button color="primary" (click)="openDialogToUpdateMonster(monster)">
          Visualizar
        </button>
      </td>
      <td>{{monster.name}}</td>
      <td>{{monster.level | monsterLevel}}</td>
      <td>
        <div class="alignContinentName comma" *ngIf="monster.existsCenter">Centro</div>
        <div class="alignContinentName comma" *ngIf="monster.existsEast">Leste</div>
        <div class="alignContinentName comma" *ngIf="monster.existsNorth">Norte</div>
        <div class="alignContinentName comma" *ngIf="monster.existsSouth">Sul</div>
        <div class="alignContinentName comma" *ngIf="monster.existsWest">Oeste</div>
      </td>
      <td>{{getMonsterTypeNameById(monster)}}</td>
      <td>{{getBiomeNameById(monster)}}</td>
      <td>{{getBookNameById(monster)}}</td>
      <td>{{monster.page}}</td>
      <td *ngIf="monster.monstersQtd != 0">{{getMonstersQtd(monster.monstersQtd)}}</td>
    </tr>
  </table>
</mat-card>
