<br>
<button
  style="margin-left: 10px;"
  mat-raised-button
  color="primary"
  (click)="saveMonster()"
  [disabled]="form.invalid"
>
  Salvar
</button>
<button
  style="margin-left: 10px;"
  *ngIf="data.monster.id != 0"
  mat-raised-button
  color="warn"
  (click)="deleteMonster()"
  [disabled]="form.invalid"
>
  Excluir
</button>
<mat-dialog-content>
  <form [formGroup]="form">
    <table style="overflow-x: auto; white-space: nowrap">
      <tr>
        <th>Nome da Criatura:</th>
        <td>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Nível da Criatura:</th>
        <td>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="level" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Página da Criatura:</th>
        <td>
          <mat-form-field appearance="outline">
            <input matInput type="number" formControlName="page" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Tipo da Criatura:</th>
        <td>
          <mat-form-field appearance="outline">
            <mat-select formControlName="monsterTypeId">
              <mat-option *ngFor="let type of data.monsterTypes" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Bioma da Criatura:</th>
        <td>
          <mat-form-field appearance="outline">
            <mat-select formControlName="biomeId">
              <mat-option *ngFor="let biome of data.biomes" [value]="biome.id">
                {{biome.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Livro:</th>
        <td>
          <mat-form-field appearance="outline">
            <mat-select formControlName="bookId">
              <mat-option *ngFor="let book of data.books" [value]="book.id">
                {{book.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Norte</th>
        <td>
          <mat-checkbox formControlName="existsSouth"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Sul</th>
        <td>
          <mat-checkbox formControlName="existsNorth"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Centro</th>
        <td>
          <mat-checkbox formControlName="existsCenter"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Oeste</th>
        <td>
          <mat-checkbox formControlName="existsWest"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Leste</th>
        <td>
          <mat-checkbox formControlName="existsEast"></mat-checkbox>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>
